extends ../layout

block title
  title= article.title

block content
  h1= article.title
  p
    = "Source: "
    a(href=article.sourceUrl target="_blank")= article.sourceUrl
  
  .content
    != article.html

  .meta
    p 
      = "created by: "
      a(href="/users/"+article.createdBy.username)= article.createdBy.username
    p 
      = "contributors: "
      each contributor, index in article.contributors
        if index
          = ", "
        a(href="/users/"+contributor.username)= contributor.username